<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .img {
            width: 200px;
            height: 200px;
        }
    </style>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <img class="img" src="/static/2.png" alt="">
    <form action="/user" method="POST">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" value="提交">
    </form>
</body>
</html>